todo
example/output
node_modules

# OSX
.DS_Store
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory

# Windows
Thumbs.db
Desktop.ini

# TextMate
*.tmproj
*.tmproject
tmtags

# Vim
.*.sw[a-z]
*.un~
Session.vim
tags

# Emacs
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
