html {
	background: #F1F1F1;
}

body {
	width: 60%;
	margin: 1em auto;
	padding: 1em;
	background: #FFF;	
}

footer {
	font-size: 0.75em;
}

h1 {
	padding: 0 0 0.5em 0;
	border-bottom: 2px solid #ccc;
}
