/*


	State
	
	State changes are represented in one of three ways:

	1. pseudo-class: :something
	2. class name: .is-something, .has-something
	3. media query: @media something {}
	


*/
@media screen {
	body {
		font-size: 75%;
	}
}

@media screen and (min-width: 40em) { /* 40 = 480px ÷ 12pt */
	body {
		font-size: 100%;
	}
}

@media screen and (min-width: 54em) { /* 54 = 960px ÷ 18pt */
	body {
		font-size: 112.5%;
	}
	
	.intro {
		width: 60%;
	}
	
	.two-col {
		display: inline-block;
		margin-left: -4px;
		margin-right: -4px;
		vertical-align: top;
		width: 50%;
	}
	
	.testimonial {
		text-align: left;
	}
}