
		<footer class="l-footer" role="contentinfo">
			<div class="l-wrapper">
				<p>Built with <a href="http://laktek.github.com/punch">Punch</a>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="js/libs/jquery-1.6.2.min.js"></script>
		<script src="js/libs/mustache.js"></script>
		<script src="js/libs/mustache_renderer.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/script.js"></script>
		<script src="js/mylibs/helper.js"></script>

		<!--[if (lt IE 9) & (!IEMobile)]>
		<script src="js/libs/imgsizer.js"></script>
		<![endif]-->

		<script>
		// iOS scale bug fix
		MBP.scaleFix();
		</script>

		<!-- http://mths.be/aab -->
		<script>
		// var _gaq=[['_setAccount','UA-337076-5'],['_trackPageview']];
		// (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>

	</body>
</html>
