{{> header }}

<header class="page" role="banner">
  <h1><a href="{{site_url}}">{{title}}</a></h1>
</header>

<div class="content clearfix">
  <h2>{{page_title}}</h2>
  <div>{{{content}}}</div>
</div>

{{> footer }}
