{{> header }}

	<div class="l-content content" role="main">
		<div class="section" id="user-guide">
			<div class="l-wrapper l-readable">
			
				<h2 class="section-title">{{page_title}}</h2>
				{{{content}}}
		
			</div>
		</div>
	</div>

{{> footer }}
