<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <title>{{ title }} | CurdBee</title>
</head>
 
<body>
	This is the index template
  <h1>{{> header }}</h1>
  <h2>{{ global }}</h2>

  {{{ content }}}

	<p>{{#format_list}}{{fruits}}{{/format_list}}</p>

	<h3>{{#humanize}}show-this-as-a-title{{/humanize}}</h3>

	<p>Last Updated: {{#date}}{{last_updated}}{{/date}}</p>

  <script type="text/javascript" src="assets/site.js"></script> 
</body>
</html>
