<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <title>{{ title }} | CurdBee</title>
</head>

<body>
  <h1>{{> header }}</h1>

  {{{ content }}}

   <div id="client_side">
   </div>

  <script type="text/javascript" src="assets/mustache.js"></script>
  <script type="text/javascript" src="../../lib/renderers/mustache.js"></script>
  <script type="text/javascript" src="assets/site.js"></script> 
</body>
</html>

