<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <title>{{ title }}</title>
	{{#stylesheet_bundle}}/assets/all.css{{/stylesheet_bundle}} 
</head>
 
<body>
	<p>This potion is from sub/_header partial</p>
