<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head>
  <title>{{ title }} | CurdBee</title>
</head>

<body>
  <h1>{{> header }}</h1>

  {{{ content }}}
</body>
</html>

